$textColor: #000;

.musicPlayerContainer {
  border-radius: 15px;
}

.musicPlayerBox {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 12px 16px;
}

.artImage {
  border-radius: 5px;
  border-color: $textColor;
  border-width: 4px;
  background-position: center;
  background-size: cover;
}


.musicPlayer--text {
  color: $textColor;
  font-weight: 700;
}

.musicPlayer--button {
  color: $textColor;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.musicPlayer--button:hover {
  opacity: 0.6;
}

.musicPlayer--button:active {
  opacity: 0.1;
}
