.mainBox {
  padding: 12px;
}

.windowButton {
  border-radius: 200px;
}

.desktopText {
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  font-family: 'San Fransisco';
}

.volumeWindow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.volumeIcon {
  color: #ddd;
}

/* Dock */
.dockContainer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.dockAppEventbox {
  transition: all 0.2s ease-in-out;
}

.dockAppEventbox:hover {
  opacity: 0.6;
}
