.container {
  background-color: rgba(0, 0, 0, 1);
}

.mainBox {
  padding: 12px;
}

.windowButton {
  border-radius: 200px;
}

.desktopText {
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  font-family: 'San Fransisco';
}
