// $fg-color: #{"#AEC6FF"};
// $bg-color: #{"#2E3440"};
$primary-color: #{"#864D64"};
$secondary-color: #{"#E0BECB"};
$bg-color: #{"#F0DFE2"};

$on-secondary: #{"#864D64"};
$on-bg: #{"#864D64"};
$on-primary: #{"#F0DFE2"};

window.Bar {
  font-weight: bold;
  background-color: $bg-color;

  button {
    background-color: $primary-color;
    color: $on-primary;
    border-radius: 8px;
    margin: 2px;
  }

  .ApplicationTitle {
    label {
      color: $on-bg;
    }
  }

  .Workspaces {
    .focused {
      background-color: $primary-color;
      color: $on-primary;
    }

    button {
      background-color: $secondary-color;
      color: $on-secondary;
    }
  }

  .RightContainer {
    .Hour {
      background-color: $secondary-color;
      border-radius: 50px;
      padding-left: 12px;
      padding-right: 12px;

      label {
        color: $on-secondary;
      }
    }

    .Battery {
      color: $on-bg;
    }
  }

  .Shutdown {
    color: $on-bg;
  }
}

