$dark : #354055;
$light: #AEC6FF;

.bar {
  font-family: 'San Fransisco';
  transition: all 0.2s ease-in-out;
}

.container {
  background-color: $dark;
  border: solid 2px $light;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  margin: 3px;
}

.closeButton {
  border-radius: 50px;
  background-color: #900;
}

.notch {
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lcontainer {
  background-color: $light;
  border-radius: 50px;
  margin: 3px;
}

.onSecondary {
  color: $light;
  font-weight: bold;
  margin: 0 12px;
  transition: 0.2s all ease-in-out;
}

.onPrimary {
  color: $dark;
  font-weight: bold;
  margin: 0 12px;
  transition: 0.2s all ease-in-out;
}

.bar--button {
  transition: all 0.2s ease-in-out;
}

.bar--button:hover {
  opacity: 0.6;
}

.opacityOnHover {
  transition: all 0.2s ease-in-out;
}

.opacityOnHover:hover {
  opacity: 0.6;
}

.opacityOnHover:active {
  opacity: 0.4;
}

.spotifyContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.spotifyContainer:hover {
  /* background-color: #165109; */
  background-color: #589C70;
}

.bluetoothContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.bluetoothContainer:hover {
  background-color: #0D4398;
}

.wifiContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.wifiContainer:hover {
  background-color: #5A1717;
}
