$light: #AEC6FF;
$dark : #354055;

.bar {
  background-color: #000;
}

.container {
  background-color: $dark;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  margin: 3px;
}

.lcontainer {
  background-color: $light;
  border-radius: 50px;
  margin: 3px;
}

.onSecondary {
  color: $light;
  font-weight: bold;
  margin: 0 12px;
  transition: 0.2s all ease-in-out;
}

.onPrimary {
  color: $dark;
  font-weight: bold;
  margin: 0 12px;
  transition: 0.2s all ease-in-out;
}

.bar--button {
  transition: all 0.2s ease-in-out;
}

.bar--button:hover {
  opacity: 0.6;
}

.opacityOnHover {
  transition: all 0.2s ease-in-out;
}

.opacityOnHover:hover {
  opacity: 0.6;
}

.opacityOnHover:active {
  opacity: 0.4;
}

.spotifyContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.spotifyContainer:hover {
  /* background-color: #1DB954; */
  /* background-color: #0D3D0A; */
  background-color: #165109;
}

.bluetoothContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.bluetoothContainer:hover {
  background-color: #0D4398;
}

.wifiContainer {
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: $dark;
}

.wifiContainer:hover {
  background-color: #5A1717;
}
