.sm_main_container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.sm_item {
  border-radius: 20px;
  transition: all 0.2s ease;
}

.sm_item:hover {
  opacity: 0.2;
}

.sm_item_text {
  color: $textColor;
  font-size: 15px;
  font-weight: bold;
}
