.dock_container {
  /* background: rgba(0, 0, 0, .2); */
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
}

.dock_app {
  opacity: 1;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.dock_app:active {
  background-color: $light;
}

.dock_app:hover {
  opacity: 0.6;
}
